html,
body {
  margin: 0;
  height: 100%;
  background-color: #eb0f10;
}

.flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: #e3b654;
}

.container {
  border: 0.275em solid #ba0f0d;
  border-radius: 0.25em;
  width: 29em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
}

.box {
  box-sizing: border-box;
  border: 0.01em dotted #8d898e;
}

.unfilled {
  background-color: #fefdfb;
}

.filled {
  background-color: black;
}

.box::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
